---
import Layout from "../../layouts/Layout.astro";
import SEO from "../../components/SEO.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog", ({ data }) => {
  return !data.draft;
});

// Ordenar por fecha de publicación
posts.sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<head>
  <SEO
    title="Blog - Zauriel Espejel"
    description="Mis opiniones, articulos y experiencias sobre tecnologia y más"
    image=""
  />
</head>
<Layout>
  <main class="max-w-4xl mx-auto px-4 mt-24 grow">
    <h1 class="text-4xl font-bold text-white mb-8">Blog</h1>
    <div class="grid gap-8">
      {
        posts.map((post) => (
          <article class="bg-neutral-900 p-6 rounded-lg flex flex-col md:flex-row gap-6">
            {post.data.image && (
              <a href={`/blog/${post.slug}/index.html`} class="flex-shrink-0">
                <img
                  src={post.data.image}
                  alt={post.data.title}
                  class="w-full md:w-48 h-32 object-cover rounded-lg mb-4 md:mb-0"
                  loading="lazy"
                />
              </a>
            )}
            <div>
              <h2 class="text-2xl font-bold text-white mb-2">
                <a
                  href={`/blog/${post.slug}/index.html`}
                  class="hover:text-my-blue"
                >
                  {post.data.title}
                </a>
              </h2>
              <div class="text-gray-400 mb-4">
                <time datetime={post.data.publishDate.toISOString()}>
                  {post.data.publishDate.toLocaleDateString()}
                </time>
              </div>
              <p class="text-gray-300 mb-4">{post.data.description}</p>
              {post.data.tags && (
                <div class="flex gap-2">
                  {post.data.tags.map((tag) => (
                    <span class="bg-gray-800 text-sm px-2 py-1 rounded text-gray-300">
                      {tag}
                    </span>
                  ))}
                </div>
              )}
            </div>
          </article>
        ))
      }
    </div>
  </main>
</Layout>
