---
import Layout from "../layouts/Layout.astro";
import bluebubble from "../assets/bluebubble.svg";
import Experience from "../components/Experience.astro";
import blackshiip_logo from "../assets/blackshiip.png";
import coparmex_logo from "../assets/coparmex_logo.png";
import tsystem_logo from "../assets/tsystems_logo.png";
import orangebubble from "../assets/orangebubble.svg";
import greenbubble from "../assets/greenbubble.svg";
import foto from "../assets/foto.png";
import Hero from "../components/Hero.astro";
import Certifications from "../components/Certifications.astro";
import aws_certification_logo from "../assets/aws_certified.png";
import { Image } from "astro:assets";
import Projects from "../components/Projects.astro";
import obj_portrait from "../assets/obj_portrait.png";
import humilink from "../assets/humilink.png";
const MotorOBJ = {
  title: "Motor OBJ",
  description:
    "Un motor de renderizado de objetos tridimensionales y que permite cargar archivos .obj para la producción de animaciones a través de keyframes, con transformaciones como rotar, escalar y trasladar.",
  technologies: ["Astro", "React", "Tailwind CSS"],
  image: obj_portrait,
  demoUrl: "https://ejemplo.com/demo",
  githubUrl: "https://github.com/ejemplo",
  featured: true,
};
const Humilink = {
  title: "Humilink",
  description:
    "Humilink es un proyecto que permite crear hipervínculos cortos y obtener estadisticas sobre su uso, como el análisis de horas de acceso, fuentes de la redirección, dispositivos ip anonima, geo información, esto desarrollado en Java con Spring Boot, Spring Data, Java persistance api (JPA) con una base de datos MySQL y autenticación a través de JWT \n \n Y como proyecto secundario un frontend hecho en angular y tailwind para la interacción con el backend.",
  technologies: ["Kotlin"],
  image: humilink,
  demoUrl: "https://ejemplo.com/demo",
  githubUrl: "https://github.com/ejemplo",
  featured: true,
};

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main class="relative">
    <Image
      src={bluebubble}
      alt="Bubble"
      class="absolute top-1/3 xl:left-1/12 w-1/12 h-auto blur-lg hidden xl:block"
    />
    <Image
      src={orangebubble}
      alt="Bubble"
      class="absolute top-1/2 xl:right-1/12 w-1/12 h-auto blur-lg hidden xl:block"
    />
    <Image
      src={greenbubble}
      alt="Bubble"
      class="absolute top-2/3 left-4 w-2/12 h-auto blur-lg hidden xl:block"
    />
    <section id="sobre-mi">
      <Hero />
    </section>
    <p class="text-white font-source lg:mx-28 mx-10 lg:mt-10">
      Soy Zauriel, me puedes llamar Zau siempre me a interesado la tecnología
      para solucionar los problemas de las personas y hacer un mejor mundo y un
      México mejor por ello no solo me enfoco en el desarrollo de tecnología, si
      no también crecer en aspectos integrales basados en el bien común y el
      humanismo integral y solidario.
      <br />
      Me considero una persona con la capacidad para liderar y coordinar equipos
      multidisciplinarios, en este espacio puedes encontrar información sobre mí,
      opiniones, experiencias y conocimientos en mi blog.
      <br />
      <br />
      Mi zona de interés incluye desarrollo backend, gestión de proyectos y computo
      en la nube.
      <br />
      <br />
      Me gradué de <strong class="text-orange-400"
        >Ingeniería en sistemas computacionales</strong
      > en la <a
        class="text-my-green"
        href="https://www.udlap.mx/ofertaacademica/SistemasComputacionales"
        >Universidad de las Américas Puebla</a
      > en 2025 y ahora me desempeño como desarrollador de software enfocado en backend.
    </p>
    <section id="experience" class="flex flex-col items-center gap-y-4 my-12">
      <h1 class="text-white text-5xl font-inter my-10">Experiencia</h1>
      <Experience
        enterpriseName="Blackshiip"
        image={blackshiip_logo}
        description="Desarrollo de software - Practicas profesionales"
        date="Febrero 2024 - Presente"
        location="Remoto"
        responsibilities={[
          "Implementación de la estructura metodológica de los libros digitales en ClickUp, utilizando jerarquías, subtareas y dependencias funcionales.",
          "Coordinación de pruebas de validación con usuarios para asegurar la usabilidad y reutilización de la plantilla documental.",
          "Propuestas para el diseño de una landing page y automatización de flujos entre plataformas.",
          "Análisis comparativo de herramientas de desarrollo web (WordPress, servicios de hosting y automatización), evaluando viabilidad técnica y presupuestal.",
          "Aplicación de conocimientos en diseño UI, entornos web y automatización para orientar decisiones técnicas.",
        ]}
        skills={[
          "Integración de plataformas",
          "Diseño de flujos de trabajo",
          "Evaluación de herramientas web",
          "Documentación técnica",
          "Seguridad y privacidad de datos",
          "Automatización de procesos",
        ]}
      />
      <Experience
        enterpriseName="Coparmex Puebla"
        image={coparmex_logo}
        description="Dirección de agenda pública y vinculación – Servicio Social."
        date="Julio 2024–Diciembre 2024"
        location="Puebla, México"
        responsibilities={[
          "Mantenimiento y actualización de sistema de registro del Summit de Innovación y Emprendimiento 2024.",
          "Estructuramiento, análisis de datos y reporte de observación electoral 2024.",
          "Depuración y análisis de reportes basados en datos del Summit de Innovación y Emprendimiento 2024.",
        ]}
      />
      <Experience
        enterpriseName="T Systems de México"
        image={tsystem_logo}
        description="Automotive customer service – Prácticas Profesionales"
        date="Junio 2023–Julio 2023"
        location="Puebla, México"
        responsibilities={[
          "Apoyo y continuidad al servicio al cliente, manteniendo la información actualizada al momento.",
          "Desarrollo de herramientas para la agilización del flujo de trabajo con los clientes.",
        ]}
      />
    </section>
    <section id="certificaciones" class="flex flex-col items-center gap-y-4">
      <h1 class="text-white text-5xl font-inter my-10">Certificaciones</h1>
      <Certifications
        certificateName="AWS Cloud Practitioner"
        provider="Amazon Web Services Training and Certification"
        date="Mayo 2025 - Mayo 2028"
        description="La certificación AWS Certified Cloud Practitioner valida un conocimiento fundamental de los servicios, la terminología y la nube de AWS."
        image={aws_certification_logo}
        link="https://www.credly.com/badges/860b74aa-876f-42b1-b13e-886b92744f31/public_url"
      />
    </section>
    <section id="projects" class="flex flex-col items-center gap-y-4">
      <h1 class="text-white text-5xl font-inter my-10">Proyectos</h1>
      <div class="flex flex-col gap-y-20 mt-20">
        <Projects project={Humilink}>
          <div
            class="flex flex-col lg:flex-row justify-between gap-4 lg:gap-8 w-full"
          >
            <!-- Backend Section -->
            <div
              class="text-xl sm:text-2xl lg:text-3xl border border-my-blue flex-1 rounded-xl p-4 sm:p-6"
            >
              <h5 class="text-white text-center font-inter mb-4">Backend</h5>
              <div
                class="grid grid-cols-1 sm:grid-cols-2 gap-3 mt-4 text-white text-center text-sm sm:text-base font-source"
              >
                <!-- Primera fila - ocupa ambas columnas en sm+ -->
                <div class="sm:col-span-2">
                  <p>Spring (Data, JPA, Security)</p>
                </div>

                <!-- Segunda fila -->
                <div class="text-center">
                  <p>JSON Web Token</p>
                </div>
                <div class="text-center">
                  <p>Geolite 2</p>
                </div>

                <!-- Tercera fila -->
                <div class="text-center">
                  <p>MySQL</p>
                </div>
                <div class="text-center">
                  <p>Java</p>
                </div>

                <!-- GitHub Link -->
                <a
                  href="https://www.github.com/zaualpha/HumilinkAPI"
                  class="sm:col-span-2 my-4 w-12 h-12 font-inter bg-transparent text-[#2FF] flex items-center justify-center mx-auto cursor-pointer hover:scale-105 transform transition-all duration-200 ease-in-out active:bg-[#0b5555] active:shadow-none active:scale-95 rounded"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg
                    width="48"
                    height="48"
                    viewBox="0 0 47 44"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-8 h-8 sm:w-12 sm:h-12"
                  >
                    <path
                      d="M18.7667 34.7567C14.1524 36.2997 10.3071 34.7567 8 30"
                      stroke="#2FF7FF"
                      stroke-width="1.5"
                      stroke-linecap="square"
                      stroke-linejoin="round"></path>
                    <path
                      d="M18.7668 36.6667V32.3439C18.7668 31.5461 19.0143 30.8528 19.4133 30.2265C19.687 29.7968 19.4996 29.1872 19.0051 29.0525C14.9095 27.9371 12.0376 26.1436 12.0376 20.1947C12.0376 18.6481 12.5491 17.1941 13.4482 15.9285C13.6719 15.6136 13.7838 15.4561 13.8107 15.3135C13.8376 15.1708 13.7908 14.9847 13.6973 14.6124C13.3167 13.0972 13.3413 11.4883 13.9126 10.0376C13.9126 10.0376 15.0932 9.65656 17.7802 11.3196C18.3937 11.6993 18.7005 11.8891 18.9707 11.9316C19.2408 11.9741 19.602 11.8851 20.3243 11.7072C21.3121 11.4639 22.33 11.3333 23.4772 11.3333C24.6244 11.3333 25.6422 11.4639 26.6301 11.7072C27.3524 11.8851 27.7136 11.9741 27.9837 11.9316C28.2539 11.8891 28.5607 11.6993 29.1741 11.3196C31.8612 9.65656 33.0417 10.0376 33.0417 10.0376C33.6131 11.4883 33.6377 13.0972 33.2571 14.6124C33.1635 14.9847 33.1167 15.1708 33.1436 15.3135C33.1705 15.4561 33.2824 15.6136 33.5062 15.9285C34.4052 17.1941 34.9168 18.6481 34.9168 20.1947C34.9168 26.1436 32.0449 27.9371 27.9493 29.0525C27.4548 29.1872 27.2673 29.7968 27.5411 30.2265C27.9401 30.8528 28.1876 31.5461 28.1876 32.3439V36.6667"
                      stroke="#2FF7FF"
                      stroke-width="1.5"
                      stroke-linecap="square"
                      stroke-linejoin="round"></path>
                    <path d="M19 37H28.5" stroke="#2FF7FF"></path>
                  </svg>
                </a>
              </div>
            </div>

            <!-- Frontend Section -->
            <div
              class="text-xl sm:text-2xl lg:text-3xl border-my-green border flex-1 rounded-xl p-4 sm:p-6"
            >
              <h5 class="text-white text-center font-inter mb-4">Frontend</h5>
              <div class="flex flex-col items-center gap-3">
                <p
                  class="text-white text-center text-sm sm:text-base font-source"
                >
                  Tailwind
                </p>
                <p
                  class="text-white text-center text-sm sm:text-base font-source"
                >
                  Angular
                </p>

                <!-- GitHub Link -->
                <a
                  href="https://www.github.com/zaualpha/HumilinkUI"
                  class="mt-4 w-12 h-12 font-inter bg-transparent text-[#2FF] flex items-center justify-center cursor-pointer hover:scale-105 transform transition-all duration-200 ease-in-out active:bg-[#0b5555] active:shadow-none active:scale-95 rounded"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg
                    width="48"
                    height="48"
                    viewBox="0 0 47 44"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-8 h-8 sm:w-12 sm:h-12"
                  >
                    <path
                      d="M18.7667 34.7567C14.1524 36.2997 10.3071 34.7567 8 30"
                      stroke="#2FF7FF"
                      stroke-width="1.5"
                      stroke-linecap="square"
                      stroke-linejoin="round"></path>
                    <path
                      d="M18.7668 36.6667V32.3439C18.7668 31.5461 19.0143 30.8528 19.4133 30.2265C19.687 29.7968 19.4996 29.1872 19.0051 29.0525C14.9095 27.9371 12.0376 26.1436 12.0376 20.1947C12.0376 18.6481 12.5491 17.1941 13.4482 15.9285C13.6719 15.6136 13.7838 15.4561 13.8107 15.3135C13.8376 15.1708 13.7908 14.9847 13.6973 14.6124C13.3167 13.0972 13.3413 11.4883 13.9126 10.0376C13.9126 10.0376 15.0932 9.65656 17.7802 11.3196C18.3937 11.6993 18.7005 11.8891 18.9707 11.9316C19.2408 11.9741 19.602 11.8851 20.3243 11.7072C21.3121 11.4639 22.33 11.3333 23.4772 11.3333C24.6244 11.3333 25.6422 11.4639 26.6301 11.7072C27.3524 11.8851 27.7136 11.9741 27.9837 11.9316C28.2539 11.8891 28.5607 11.6993 29.1741 11.3196C31.8612 9.65656 33.0417 10.0376 33.0417 10.0376C33.6131 11.4883 33.6377 13.0972 33.2571 14.6124C33.1635 14.9847 33.1167 15.1708 33.1436 15.3135C33.1705 15.4561 33.2824 15.6136 33.5062 15.9285C34.4052 17.1941 34.9168 18.6481 34.9168 20.1947C34.9168 26.1436 32.0449 27.9371 27.9493 29.0525C27.4548 29.1872 27.2673 29.7968 27.5411 30.2265C27.9401 30.8528 28.1876 31.5461 28.1876 32.3439V36.6667"
                      stroke="#2FF7FF"
                      stroke-width="1.5"
                      stroke-linecap="square"
                      stroke-linejoin="round"></path>
                    <path d="M19 37H28.5" stroke="#2FF7FF"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </Projects>
        <Projects project={MotorOBJ}>
          <div class="flex flex-row justify-end">
            <h6
              class="text-purple-500 font-source text-lg sm:text-xl lg:text-2xl a."
            >
              C#
            </h6>
            <a
              href="https://github.com/ZauAlpha/Motor-OBJ"
              class="size-8 font-inter text-2xl bg-transparent text-[#2FF] text-center block content-center cursor-pointer shadow-md shadow-neutral-950 hover:scale-105 transform transition-all duration-200 ease-in-out active:bg-[#0b5555] active:shadow-none active:scale-95"
              target="_blank"
              rel="noopener noreferrer"
              ><svg
                width="32"
                height="32"
                viewBox="0 0 47 44"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M18.7667 34.7567C14.1524 36.2997 10.3071 34.7567 8 30"
                  stroke="#2FF7FF"
                  stroke-width="1.5"
                  stroke-linecap="square"
                  stroke-linejoin="round"></path>
                <path
                  d="M18.7668 36.6667V32.3439C18.7668 31.5461 19.0143 30.8528 19.4133 30.2265C19.687 29.7968 19.4996 29.1872 19.0051 29.0525C14.9095 27.9371 12.0376 26.1436 12.0376 20.1947C12.0376 18.6481 12.5491 17.1941 13.4482 15.9285C13.6719 15.6136 13.7838 15.4561 13.8107 15.3135C13.8376 15.1708 13.7908 14.9847 13.6973 14.6124C13.3167 13.0972 13.3413 11.4883 13.9126 10.0376C13.9126 10.0376 15.0932 9.65656 17.7802 11.3196C18.3937 11.6993 18.7005 11.8891 18.9707 11.9316C19.2408 11.9741 19.602 11.8851 20.3243 11.7072C21.3121 11.4639 22.33 11.3333 23.4772 11.3333C24.6244 11.3333 25.6422 11.4639 26.6301 11.7072C27.3524 11.8851 27.7136 11.9741 27.9837 11.9316C28.2539 11.8891 28.5607 11.6993 29.1741 11.3196C31.8612 9.65656 33.0417 10.0376 33.0417 10.0376C33.6131 11.4883 33.6377 13.0972 33.2571 14.6124C33.1635 14.9847 33.1167 15.1708 33.1436 15.3135C33.1705 15.4561 33.2824 15.6136 33.5062 15.9285C34.4052 17.1941 34.9168 18.6481 34.9168 20.1947C34.9168 26.1436 32.0449 27.9371 27.9493 29.0525C27.4548 29.1872 27.2673 29.7968 27.5411 30.2265C27.9401 30.8528 28.1876 31.5461 28.1876 32.3439V36.6667"
                  stroke="#2FF7FF"
                  stroke-width="1.5"
                  stroke-linecap="square"
                  stroke-linejoin="round"></path>
                <path d="M19 37H28.5" stroke="#2FF7FF"></path>
              </svg></a
            >
          </div>
        </Projects>
      </div>
    </section>
  </main>
</Layout>
