---
import { Image } from "astro:assets";
interface Props {
  certificateName: string;
  description: string;
  provider: string;
  date: string;
  image: ImageMetadata;
  link: string;
}
const props = Astro.props as Props;
---

<div
  class="iron-dark p-4 mb-20 sm:p-6 lg:p-8 lg:w-4xl w-fit flex flex-col
   items-center gap-4 shadow-2xl"
>
  <div
    class="flex flex-col lg:flex-row lg:items-start lg:justify-between gap-4"
  >
    <div class="flex flex-col sm:flex-row sm:items-start gap-4">
      <!-- Logo/Imagen -->
      <div class="flex-shrink-0 mx-auto sm:mx-0">
        <Image
          src={props.image}
          alt="Logo de la empresa"
          class="size-52 sm:size-80"
        />
      </div>
      <!-- Datos de la empresa -->
      <div class="text-center sm:text-left">
        <h1
          class="text-neutral-200 font-bebas text-2xl sm:text-3xl lg:text-4xl leading-tight"
        >
          {props.certificateName}
        </h1>
        <p
          class="font-bebas text-base sm:text-lg lg:text-xl text-gray-400 mt-1"
        >
          {props.provider}
        </p>
        <p
          class="font-bebas text-base sm:text-lg lg:text-xl text-gray-400 mt-1"
        >
          {props.date}
        </p>
        <p
          class="font-inter text-gray-300 text-sm sm:text-base leading-relaxed bg-gray-950/50 p-4 rounded-md"
        >
          {props.description}
        </p>
        <a
          href={props.link}
          class="bg-black p-4 rounded-full font-source font-bold text-white shadow-2xl shadow-gray-900 hover:scale-105 transform transition-all duration-200 ease-in-out active:bg-gray-800 active:scale-95 flex items-center justify-center active:shadow-none m-4"
          target="_blank"
          rel="noopener noreferrer">Comprobar Certificación</a
        >
      </div>
    </div>
  </div>
</div>
<style>
  .iron-dark {
    background: linear-gradient(135deg, #36454f, #2f4f4f, #1c1c1c, #36454f);
  }
</style>
